/* New year style*/
* {
  margin: 0 auto;
}

.header {

  background-image: url(../resources/Banner\ Image.png);
  width: 1320px;
  height: 600px;
  background-position: center;
  padding: 50PX 200px;
  background-repeat: no-repeat;
  border-radius: 16px;

}

/* banner styles */

.banner-title {
  color: #fffcfc;
  text-align: center;
  font-family: Merriweather;
  font-size: 60px;
  font-weight: 400;

}

.banner-pra {
  color: #ffffff;
  text-align: center;
  font-family: Merriweather;
  font-size: 90px;
  font-weight: 900;
  line-height: 95px;
  width: 632px;
  border-radius: 15px;
}

.banner-content {
  padding: 150px 340px;
}

/* section style  */

.section-off {
  color: #F00;
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  padding-top: 20px;
}

.section-pra {
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  padding-top: 40px;
  padding-bottom: 0;
}

.section-heding {
  color: #070211;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-title {
  text-align: center;
}

.image {
  padding-top: 5px;
  padding-bottom: 40px;
  width: 802.9px;
  height: 500px;

}

/* section-2th */

.section-title2 {
  background-image: url(../resources/Vectorrr.png);
  width: 1320px;
  height: 600px;
  background-position: center;
  padding: 50PX 200px;
  background-repeat: no-repeat;
  border-radius: 16px;
  display: flex;
  align-items: center;

}

.text {
  margin-left: 125px;
}

.section2-heading {
  color: #FFF;
  font-family: Merriweather;

  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.section2-pra {
  color: rgba(255, 255, 255, 0.80);
  font-family: Inter;
  width: 697px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

}

.primary-button {
  color: #FFF;
  background: none;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 50px;

}

.text {
  position: left;
}

/* section-3th */

.section-3rd {
  border-radius: 10px;
  background: linear-gradient(hsl(0, 55%, 96%), #FF000000);
  width: 1320px;
  height: 482px;
  text-align: center;
  margin-top: 80px;

}

.section-3rd-text {
  color: #070211;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  padding: 120px 200px;

}

.color-text {
  color: #F00;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
}

/* section-4th */

.section-4th {

  width: 1320px;
  height: 482px;
  border-radius: 10px;
  background-color: #FFF;
  margin-top: 100px;
  display: flex;
  align-items: center;
  text-align: left;

}

.section-3rd-head {
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.section-3rd-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}

.section-3rd-pra {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.Year {
  color: #F00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
}

.section-4th-image {
  border-radius: 50%;
  border-color: orangered;
}

/* section-5th */

.section-5th {
  width: 1320px;
  height: 910px;
  background-color: #ffffff;
  border-radius: 10px;
  background-image: url(../resources/Rectangle\ 2.png);
  background-position: bottom;
  background-repeat: no-repeat;
  margin-top: 150px;
}

.image-50 {

  display: flex;
  align-items: center;


}

.section-5th-heding {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 5px;
}

.section-5th-title {
  color: black;
  text-align: center;
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  margin-top: 20px;
  margin-bottom: 0;
}

.section-5th-pra {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
  margin-bottom: 0;
  margin-top: 20px;
}

.Holidays {
  color: #F00;
}

.fifty {
  position: absolute;
  margin-top: 60px;
  margin-left: -550px;
}

.Rectangle {
  margin-left: 95px;
  margin-bottom: 550px;
}

.gift {
  margin-bottom: 500px;
}

/* section-6th */

.section-6th {
  width: 1320px;
  height: 1000px;

  margin-top: 100px;
}

.section-6th-text {
  text-align: left;
}

.section-6th-heading {
  color: #F00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.section-6th-title {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  padding-top: 10px;
  padding-bottom: 0;
}

.section-6th-pra {
  color: rgba(7, 2, 17, 0.60);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  padding-top: 15px;
}

.section-6th-images {
  padding-top: 40px;
  padding-bottom: 30px;
  align-items: center;
  gap: 50px;
}

.section-6th-image {
  display: flex;
}

/* section-7th */

.section-7th {
  background: linear-gradient(hsl(0, 51%, 89%), #FF000000);
  width: 1320px;
  height: 482px;
  margin-top: 200px;
  text-align: center;
  padding-top: 100px;

}

.email {
  background-color: #FFF;
  width: 400px;
  height: 50px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 15px;
}

.Subscribe {
  width: 150px;
  height: 50px;
  text-align: center;
  color: #FFF;
  background-color: #F00;
  border: 0;
  border-radius: 0 15px 15px 0;
  margin-left: -100px;
}

.input-valu {
  margin-bottom: 80px;
}

.section-7th-heading {
  color: #070211;
  text-align: center;
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
}

.section-7th-pra {
  color: rgba(7, 2, 17, 0.60);
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}